    table,
    th,
    td {
      border: 1px solid #ddd;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    th {
      background-color: #6f706f;
      color: white;
      text-align: left;
    }

    table {
      border-collapse: collapse;
      width: 100%;
      /* Make table full width */
    }

    table {
      table-layout: fixed;
    }

    th:nth-child(1),
    td:nth-child(1) {
      width: 30%;
      /* Example column width */
    }

    tr:hover {
      background-color: #ddd;
    }

    @media screen and (max-width: 600px) {

      table,
      thead,
      tbody,
      th,
      td,
      tr {
        display: block;
      }

      thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }

      tr {
        border: 1px solid #ccc;
      }

      td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
      }

      td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        content: attr(data-label);
        /* Use data-label attribute for responsive headings */
      }
    }